<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">📦 warehouse</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Import
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/import">สินค้าใหม่</a></li>
                            <li><a class="dropdown-item" href="/update">สินค้าเดิม</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/export">Export</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/order">📃 Order Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history">📖 History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">🖥️ Admin</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <span class="navbar-text">
                        Lorem ipsum dolor sit amet.
                    </span>
                </ul>
            </div>
        </div>
    </nav>
</header>