@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

*{
    font-family: 'Kanit', sans-serif;
}

header {
    padding-top: 8rem;
    padding-bottom: 8rem;
    height: 400px;
}

.icons{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.icons-icon{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: brown;

}

.showcase-img {
    background-size: cover;
    min-height: 30rem;
}

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

