<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}"
    xmlns:th="https://www.thymeleaf.org">

<div class="container mt-3" layout:fragment="content">
    <h1>export page</h1>
    <div class="mt-3">
        <p class="lead">export list<button class="btn btn-primary" style="float: right;">export</button></p>
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>quantity</th>
                    <th>price</th>
                    <th>safety stock</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${cart}">
                    <td th:text="${product.productId}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.quantity}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.safetyStock}"></td>
                    <td>
                        <a class="btn btn-danger">remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <p class="lead">all product list</p>
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>quantity</th>
                    <th>price</th>
                    <th>safety stock</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.quantity}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.safetyStock}"></td>
                    <td>
                        <a class="btn btn-success" th:href="@{/export/get/{id}(id=${product.id})}">add</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">ต้องการนำออกสินค้าชิ้นนี้ ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalBody">
                        <p class="lead" id="productName" style="font-size: 24px;"></p>
                        <span class="badge bg-primary" id="productQuantity"></span>
                        <span class="badge bg-success" id="productSafe"></span>
                        <hr>
                        <p>จำนวนสินค้าที่ต้องการนำออก</p>
                        <input type="number" min="1" max="999" value="1" id="sQuantity" name="quantity">  ชิ้น
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="exportBtn">Export</button>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/js/warehouse/export.js}"></script>
        <script>
            document.querySelector("input").addEventListener("keydown", function (event) {
                if (event.which === 69 || event.which === 189) {
                    event.preventDefault();
                }
            });
        </script>
    </div>
</div>

</html>