<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}"
    xmlns:th="https://www.thymeleaf.org">

<div class="container mt-4" layout:fragment="content">
    <h1><span id="typeBadge" class="badge bg-success" th:text="${history.type}"></span></h1>
    <p id="historyTime" th:text="${history.createDate}" style="font-size: 20px" class="mt-3"></p>
    <div class="mt-4">
        <h1>preview</h1>
    </div>
    <script th:src="@{/js/moment.js}"></script>
    <script>
        $(document).ready(function () {
            const dateConvert = (date) => {
                return `${moment(date).format('DD/MM/YYYY - HH:mm:ss')} (${moment(date).fromNow()})`;
            }

            if ($('#typeBadge').text() == 'EXPORT') {
                $('#typeBadge').attr('class', 'badge bg-danger');
            }

            $('#historyTime').text(dateConvert($('#historyTime').text()));
        })
    </script>
</div>

</html>